@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sail {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(calc(100vw + 100px));
    }
}
  
.animate-sail {
    animation: sail 10s linear forwards;
}